[Unit]
Description=Start VLC
After=rotate.service

[Service]
User=app-data
Group=app-data
Environment="DISPLAY=:0"
Environment="LANG=cs_CZ.UTF-8"
ExecStart=vlc /home/app-data/MUSIC
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
