[Unit]
Description=Start VLC
After=rotate.service

[Service]
User=app
Group=app
Environment="DISPLAY=:0"
Environment="LANG=cs_CZ.UTF-8"
ExecStart=vlc /home/app/MUSIC
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
